/**
* Accordeon
*/
.accordeon{
    display: flex;
}

details [open] {
    width : 300px
}
details : hover{
    transition : width 0.5s ease-in-out;
}
details {
    position : relative;
    width : 130px
}
summary{
    position : absolute;
    top : 0;
    left : 0;
}
div{
    padding-left: 130px;
    width : 170px;
}
details {
    position : relative;
    width : 130px
}